mixin item(title, description)
	.item
		h2(class="item-title")= title
		p(class="item-description")= description

mixin section-title(title)
	.section-title
		h2=title

mixin gallery-card(args={})
	.box-img 
		a(data-fancybox="gallery" href=args.img loading="lazy")
			img.rounded(src=args.img alt="foto" loading="lazy")

mixin brand-card(args={})
	.brand-card-wrap
		.brand-card
			.brand-card__front
				img(src=args.img, alt="")
			.brand-card__content
				.brand-card__back
					.brand-card__title!=args.title
					.brand-card__descr!=args.descr